* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8ff;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

.section-one {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 54px;
  align-items: center;
}

.section-one-right {
}

ul {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #363853;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
}

a:hover {
  color: #ff6838;
  transition: 0.4s;
}

.btn1 {
  width: 120px;
  height: 50.41px;
  border-radius: 5px;
  border: none;
  background-color: #ff6838;
  color: white;
}

.btn1:hover {
  width: 120px;
  height: 50.41px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.section-two {
  height: 681px;
  display: flex;
}

.section-two-left {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-two-left > h1 {
  font-family: Rubik;
  font-size: 66px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
}

span {
  color: #ff6838;
}

.section-two-left > p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.section-three {
  display: flex;
  justify-content: space-between;
}

.section-three-right {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-three-right > h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
}

.section-three-right > p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.btn2 {
  width: 167px;
  height: 50px;
  border-radius: 30px 30px 1px 30px;
  border: none;
  background-color: #ff6838;
  color: white;
}

.btn2:hover {
  border-radius: 30px 30px 1px 30px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.section-four {
  height: 500px;
}

.section-four > h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.cards {
  display: flex;
  justify-content: space-around;
}
.card > img {
  height: 299px;
}
.card {
  background-color: white;
  width: 361px;
  height: 417px;
  border-radius: 5px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.card > p {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-left: 15px;
}
.card-footer {
  background-color: white;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 15px;
}
.section-four > h2 {
  text-align: center;
  margin: 50px;
}
.card-footer-btn {
  height: 30px;
  width: 60px;
  background-color: #ff7a50;
  padding: 3px 10px;
  border: none;
  border-radius: 15px 15px 3px 15px;
}
.section-five {
  height: 681px;
  display: flex;
  margin-top: 162px;
}

.section-five-left {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-five-left > h3 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
}

span {
  color: #ff6838;
}

.section-five-left > p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.section-five > img {
  width: 616px;
  height: 480px;
}
.footer {
  width: 1170px;
  height: 312px;
  background-color: #ff7a50;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
position: relative;
}
.footer > h3 {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: white;
}
input {
  width: 838.5px;
  height: 78px;
  border: none;
  border-radius: 39px;
  outline: none;
  padding: 15px;
}
.btn3 {
  width: 191px;
  height: 58px;
  border-radius: 70px;
  background-color: #ff7a50;
  color: white;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border: none;

}
.btn3:hover{
    width: 195px; 
    background-color: orangered;
    font-weight: 700;
    transition: 0.3s;
}
.btn{
    position: absolute;
    bottom: 55px;
    left: 800px;
}